@import '~nav-frontend-core/less/_variabler';

.app {
  margin: 0 auto;
  // HEADER
  header {
    .dekorator {
      background-color: @navMorkGra;
      color: white;
      padding: 16px;
      display: flex;
      align-items: center;

      .logo {
        width: 60px;
        height: auto;
        margin-right: 16px;
      }
    }
  }

  .feilmelding {
    color: white;
    background-color: @navRod;
    padding: 16px;
  }

  .main {
    margin-top: 32px;
    padding: 16px;
  }

  //
}

// Modal
.okavbrytmodal {
  width: 750px;

  .okavbrytmodal--ikon {
    border-right: 1px solid @navGra40;
    padding: 8px 18px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  .okavbrytmodal--text {
    align-self: center;
    padding: 8px 18px;
    width: 100%;
  }
}

// Spacer
.spacer {
  &.fourPx {
    margin-bottom: 4px;
  }

  &.eightPx {
    margin-bottom: 8px;
  }

  &.sixteenPx {
    margin-bottom: 16px;
  }

  &.twentyPx {
    margin-bottom: 20px;
  }

  &.dashed {
    border-bottom: 3px dashed @navGra20;
    margin-left: -10px;
    margin-top: 13px;
  }
}

// Ikoner
.ikon {
  cursor: pointer;
  appearance: none;
  background: transparent;
  padding: 0 0 0 12px;
  border: 0;

  &.ikon--slett {
    fill: @navRod;
  }

  &.ikon--leggtil {
    fill: @navBla;
  }

  &.ikon-rediger {
    margin-left: 12px;
    color: @navOransje;
  }
}

// Misc
.hoyre {
  text-align: right;
}

.venstre {
  text-align: left;
}

.midstill {
  text-align: center;
}

// todo rydde opp i navn
.paddingleft {
  padding-left: 16px;
}

.knapprad {
  .knapp {
    margin-left: 6px;
  }
}

// FLEX
.flex {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

  &.flexend {
    justify-content: flex-end;
  }

  .flexend {
    flex-grow: 1;
    text-align: right;
  }
}
