.grid {
  width: 100%;
  display: flex;
  flex-direction: row;

  .maaned {
    background: blue;
    border: 1px solid black;

    .--navn {
      background: pink;
    }

    .inntekter {
      background: yellow;
      width: 200px;
    }
  }
}
