# Simple Proxy to backend
location /api/ {
    access_by_lua_file oidc_protected.lua;
    proxy_pass "${APP_INNTEKT_BASEURL}";
}

# Simple Proxy to backend
location /enhetsregisteret/ {
  proxy_pass "${APP_INNTEKT_BASEURL}";
  proxy_cache_valid      200  1d;
  proxy_cache_use_stale  error timeout invalid_header updating
                                   http_500 http_502 http_503 http_504;
}
