access_log off; # Handled by trafic
error_log /dev/stdout debug;
client_body_buffer_size 10M; # Default er satt veldig lavt. Får problemer med enkelte dokument queries.
charset utf-8;



server {
  listen       8080;
  # where the root here
  root   /usr/local/openresty/nginx/html/inntekter;
  # what file to server as index
  index index.html index.htm;

  location ~ ^/inntekter(.*) {
    try_files $1 $1/ /index.html;
  }

  ## All static files will be served directly and cached
  location ~* ^.+\.(?:css|cur|js|jpe?g|gif|htc|ico|png|xml|otf|ttf|eot|woff|svg|map|json)$ {
    add_header Cache-Control "public";
    expires 365d;
    ## Set the OS file cache.
    open_file_cache max=3000 inactive=120s;
    open_file_cache_valid 45s;
    open_file_cache_min_uses 2;
    open_file_cache_errors off;
  }

  # Any route containing a file extension (e.g. /devicesfile.js)
  location ~ ^.+\..+$ {
    try_files $uri =404;
  }

  # Readiness check for NAIS
  location = /inntekter/health/isReady {
    return 200 "Application:READY";
    default_type text/plain;
  }

  # Readiness check for NAIS
  location = /inntekter/health/isAlive {
    return 200 "Application:READY";
    default_type text/plain;
  }

  location = /inntekter/api/v1/inntekt {
    proxy_pass "${APP_INNTEKT_API_PATH}";
  }

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }

}
