access_log off; # Handled by trafic
error_log /dev/stdout debug;
client_body_buffer_size 10M; # Default er satt veldig lavt. Får problemer med enkelte dokument queries.
charset utf-8;

server {
  listen       8080;
  server_name  _;
  root   /usr/local/openresty/nginx/html/inntekter;

  location / {
    try_files $uri $uri/ /index.html;
  }

  # Readiness check for NAIS
  location = /inntekter/health/isReady {
    return 200 "Application:READY";
    default_type text/plain;
  }

  # Readiness check for NAIS
  location = /inntekter/health/isAlive {
    return 200 "Application:READY";
    default_type text/plain;
  }

  location = /inntekter/api/v1/inntekt {
    proxy_pass "${APP_INNTEKT_API_PATH}";
  }

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }

}
