@import "~nav-frontend-core/dist/main.css";
@import "variables.scss";
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $navMorkGra;
  height: 100%;
  line-height: 1.42857143;
  margin: 0;
  text-align: left;
}

@import "~nav-frontend-typografi-style/dist/main.css";
@import "~nav-frontend-skjema-style/dist/main.css";
@import "~nav-frontend-paneler-style/dist/main.css";
@import "~nav-frontend-knapper-style/dist/main.css";
@import "~nav-frontend-ekspanderbartpanel-style/dist/main.css";
@import "~nav-frontend-spinner-style/dist/main.css";
@import "~nav-frontend-alertstriper-style/dist/main.css";
@import "~nav-frontend-modal-style/dist/main.css";
@import "~nav-frontend-lukknapp-style/dist/main.css";
@import "~nav-frontend-toggle-style/dist/main.css";
